.out-wrap .icon-func {
    margin-top: 17px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../../images/firstpage/tutu.png);
}

.out-wrap .navs {
    height: 52px;
    background-color: #fff;
}

.out-wrap .all-in {
    cursor: pointer;
    width: 135px;
    padding: 0 65px 0 50px;
    float: left;
    border-bottom: 4px solid transparent;
    color: #333;
    font: 400 17px/52px "Microsoft YaHei", tahoma, arial, sans-serif !important;
}

.out-wrap .navs .link.active {
    border-bottom: 4px solid #333;
}

.out-wrap .navs .link {
    float: left;
    margin-right: 65px;
    border-bottom: 4px solid transparent;
    color: #333;
    font: 400 17px/52px "Microsoft YaHei", tahoma, arial, sans-serif !important;
}

/*跑马灯那块*/

.out-wrap .cates-banner {
    height: 485px;
}

.out-wrap .banner {
    width: 1200px;
    height: 485px;
    margin-top: 4px;
}

.abso {

    position: absolute !important;

}

.sideBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; /*相对定位，相对自己原来的位置定位*/
}

.sideBox .hd {
    height: 24px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    width: 977px;
    margin-left: 223px;
    text-align: center;
}

.sideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    padding: 4px 6px;
    display: inline-block;
}

.sideBox .hd ul li {
    float: left;
    margin-right: 11px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    background: #aaaaaa;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid rgba(158, 163, 167, 1);
}

.sideBox .scrollad{
    position: absolute;
}
.sideBox .scrollad ul {
    position: relative;
    width: 1200px;
    height: 486px;
}

.sideBox .scrollad ul li {
    position: absolute;
    width: 1200px;
    left: 0px;
    top: 0px;
    display: none;
}
.sideBox .prev img, .sideBox .next img{
    width: 14px;
    height: 24px;
}
.sideBox .scrollad .next {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 14px;
    height: 24px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    background-color: #444;
    padding: 15px 5px;
    left: 1160px;
}

.sideBox .scrollad .prev {
    left: 243px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 14px;
    height: 24px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    background-color: #444;
    padding: 15px 5px;
}
.sideBox .scrollad a:hover{
    background-color: #666;
    text-decoration: none;
}


    /*左侧导航栏*/
.out-wrap .cates-banner .cates {
    margin: 0;
   /* width: 223px;*/
    width: 226px;
    height: 485px;
    margin-top: 4px;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.88) !important;
}

.out-wrap .cates li.cate:first-child {
    margin-top: 0px;
    height: 56px;
}

.out-wrap .cates li.cate {
    border-bottom: 1px solid rgba(222, 222, 222, 0.4);
    width: 203px;
    padding-top: 40px;
    margin-top: -1px;

}

.out-wrap .cates li.cate:hover {
    width: 223px;
    border-bottom: 1px solid transparent;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(68, 68, 68, 0.4);

}

.out-wrap .cates li.cate a {
    color: #fff;
    float: left;

}

/*.out-wrap .cates li.cate .whiteone {

    z-index: 100;
    width: 14px;
    height: 97px;
    position: absolute;
    margin-left: 217px;
    margin-top: -40px;
   !* background-color: #ffffff;*!

}*/
.out-wrap .cates li.cate .white {

   /* z-index: 100;
    width: 14px;
    height: 97px;
    background: transparent;
    position: absolute;
    margin-left: 217px;
    margin-top: -40px;
    display: none;*/
    z-index: 100;
    width: 14px;
    height: 97px;
    position: absolute;
    margin-left: 217px;
    margin-top: -40px;
    background-color: #ffffff;
    display: none;

}

.out-wrap .cates .cate-hd {
    padding-left: 36px;
}

.out-wrap .cates .icon-cloth {
    margin-right: 16px;
    width: 29px;
    height: 24px;
    background-image: url(../../images/firstpage/icon-cloth.png);
}

.out-wrap .cates .cate-hd a {
    color: #fff;
    font: 400 16px/24px "Microsoft YaHei", tahoma, arial;
}

.out-wrap .cates .cate-bd {
    height: 27px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 36px;
    overflow: hidden;
}

.out-wrap .cates .cate-bd a {
    font-size: 13px;
    color: #aaa !important;
}

.out-wrap .cates .cate-bd .slash {
    padding: 0 3px;
}

.out-wrap .cates .icon-shoe {
    margin-right: 17px;
    width: 26px;
    height: 21px;
    background-image: url(../../images/firstpage/icon-shoe.png);
}

.out-wrap .cates .icon-bag {
    margin-right: 17px;
    width: 26px;
    height: 21px;
    background-image: url(../../images/firstpage/icon-bag.png);
}

.out-wrap .cates .icon-lip {
    margin-right: 17px;
    width: 26px;
    height: 21px;
    background-image: url(../../images/firstpage/icon-lip.png);
}

.out-wrap .cates .icon-watch {
    margin-right: 17px;
    width: 26px;
    height: 21px;
    background-image: url(../../images/firstpage/icon-watch.png);
}



.out-wrap .cates li.cate:hover .icon-cloth {
    background-image: url(../../images/firstpage/icon-cloth-h.png);
}

.out-wrap .cates li.cate:hover a {
    color: #010101;
}

.b-bottom0 {
    border-bottom: 0 !important;
}



/*hover子菜单*/
.out-wrap .hover-boxs{
    visibility: hidden;
    z-index: 90;
    top: 0;
    left: 223px;
    background: #fff;
    color: #333;
    width: 910px;
    padding: 0 30px 0 37px;
    height: 486px;
    box-shadow: 0px 0px 4px 0px rgba(68, 68, 68, 0.4);
}

.cates .part{
    width: 265px;
    float: left;
}
.cates .part .title{
    margin: 0;
    padding: 42px 0 10px;
    color: #333;
    font: 400 16px/16px "Microsoft YaHei", tahoma, arial;
    border-bottom: 1px solid #e5e5e5;
}

/*.cate .list a :hover{
    color: #010101;
}*/
.cate .list  a{
    color: #010101 !important;
    width: 50%;
    float: left;
    display: inline-block;
    margin-top: 16px;
    font: 400 13px/17px "Microsoft YaHei", tahoma, arial;

}



.cate .list a.hot{
    color: #fd8553 !important;
}

.cate .brands-box a{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 106px;
    height: 60px;
    float: left;
    border: 1px solid #eee;
    margin-top: 30px;
    margin-left: 19px;
}

/*官方直购等*/

.pop-img{
    margin: 0 auto;
    padding: 13px 0;
    width: 1160px;
    height: 56px;
}
.pop-img .item{
    float: left;
    overflow: hidden;
    width: 220px;
    margin-left: 60px;
}

.pop-img .item .icon {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #4c4c4c;
    border: 1px solid #4c4c4c;
    width: 46px;
    height: 46px;
    margin: 4px 10px 4px 0;
    float: left;
    text-align: center;
    font: 400 19px/46px "Microsoft YaHei", tahoma, arial;
}
.pop-img .item .title{
    display: block;
    font: 400 14px/30px "Microsoft YaHei", tahoma, arial;
    color: #4c4c4c;
    position: relative;
    top: 6px;

}
.pop-img .item span {
    font: 400 12px/18px "Microsoft YaHei", tahoma, arial;
    color: #bebebe;
}

.more-goods{
    height: 230px;
}
.more-goods a{
    width: 285px;
    height: 230px;
    background-size: cover;
    margin-right:20px;
    float: left;
}


/*商品展览区*/
.floors{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding-bottom: 40px;
    margin-top: 40px;

}
.floors .benifits-goods{
    padding-top: 40px;
}

.floors .title{
    padding-left: 20px;
    border-left: 5px solid #333;
    margin-bottom: 20px;
    color: #333;
    font: 400 20px/23px "Microsoft YaHei", tahoma, arial;
}

.floors .selected-items .list{
    height: 874px;
}


.floors .list a.item {
    position: relative;
    width: 228px;
    height: 430px;
    background: #fff;
    margin-right: 15px;
    margin-top: 15px;
    float: left;

}

.floors .benifits-goods .list a.item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-image: url(../../images/firstpage/bf.png);
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}
.floors .selected-items a.item:nth-child(n+6) {
    margin-top: 15px;
}
.tag{
    z-index: 1;
    display: none;
    margin-top: -15px;
    margin-left: -5px;
}

.floors a.item{
    padding: 15px;
    height: 350px !important;
    width: 198px !important;
    background-color: #fff !important;
    float: left;
}

.floors .list .picture{
    float: none;
    display: block;
}


/*商标字体*/
.floors .list .brand {
    margin-top: 12.5px;
    text-align: center;
    color: #333;
    font: 800 13px/16px "Microsoft YaHei", tahoma, arial;
}
.text-elip {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.floors .list .brand-t {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
}

.floors .list .market, .floors .list .seller {
    text-align: center;
    font: 400 12px/16px "Microsoft YaHei", tahoma, arial;
    margin-top: 8px;
    color: #b5b5b5;
}
.floors .list .market {
    color: #ff3433;
    font-size: 14px;
}



.benifits-goods .title a span {
    width: 9px;
    height: 10px;
    margin: 7px;
    margin-right: 0;
    float: right;
    background-image: url(../../images/firstpage/ri-arr.png);
}

.benifits-goods a {
    color: #b2b2b2;
    font: 100 12px/23px "Microsoft YaHei", tahoma, arial, sans-serif;
}

/*第二层*/
.floors .block{
    height: 380px;
    margin-top: 15px;
}

.floors .block .specials {
    height: 100%;
    margin-right: 15px;
}

.floors .block .countdown {
    letter-spacing: 1px;
    font: 100 18px/40px "Microsoft YaHei", tahoma, arial;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.5);
    position: relative;
    top: 340px;
/*    display: none;*/
}
.floors .block .prev,.floors .block .next{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 2;
}
.floors .block .list{
    position: relative;
    width: 699px;
    height: 100% !important;
    overflow: hidden;
}
.floors .block .prev {
    background-image: url(../../images/firstpage/left-arrow-circle.png);
    left: 5px;
}
.floors .block .next {
    background-image: url(../../images/firstpage/right-arrow-circle.png);
    right: 5px;
}

.floors .block .list .imgitem{
     padding: 15px;
     height: 350px !important;
     width: 198px !important;
     background-color: #fff !important;
    margin-right: 10px;
    display: block;
     float: left;

 }
.floors .list .market span {
    text-decoration: line-through;
    color: #b5b5b5;
    font: 400 12px/16px "Microsoft YaHei", tahoma, arial;
}
/*打折*/
.floors .list .market em {
    margin-left: 3px;
    width: 40px;
    height: 17px;
    font: 100 12px/16px "Microsoft YaHei", tahoma, arial;
    background-color: #f46464;
    color: #fff;
    display: inline-block;
}


/*第三层*/
.floors .clothbox{
    height: 695px;
}
.floors .james{
    width: 228px;
    height: 100%;
    margin-right: 15px;
}
.floors .harden {
    height: 100%;
    width: 957px;
}
.floors .clothbox a.item{
    padding: 0px;
    height: 340px !important;
    width: 228px !important;
    background-color: #fff !important;
    float: left;
}
.floors .james a.item {
    margin-bottom: 15px;
}
.floors .james a.item {
    margin-bottom: 15px;
}
.floors .james a.item:last-child {
    margin-bottom: 0;
}
.floors .clothbox .harden a.item{
    margin-right: 15px;
}
.floors .clothbox a.item:nth-child(4n) {
    margin-right: 0;
}

.floors .clothbox .harden a.item:last-child{
    margin-right: 0px;
}


.floors .clothbox .harden a.item:nth-child(n+5){
    margin-top: 15px;
}

.floors .benifits-goods .linkselect a{
    display: inline-block;
    float: left;
    color: #b2b2b2;
    margin-right: 13px;
    font: 400 13px/23px "Microsoft YaHei", tahoma, arial;
}
/*新品推荐*/
.new-products .block .special {
    width: 228px !important;
}
.new-products .block .list {
    width: 957px !important;
}
.new-products .block .list .imgitems a.imgitem{
    margin-right: 15px;
}
.new-products .block .list .imgitems a.imgitem:nth-child(4n){
    margin-right: 0px;
}
